.container {
  color: white;
  margin-top: 100px;
  background-color: #94327f; /* Deep dark blue */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 80px 10%;
  gap: 30px;
}

.text h2 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.text p {
  font-size: 20px;
  color: #94a3b8;
  max-width: 450px;
}

.contactLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linkCard {
  display: flex;
  align-items: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.03);
  padding: 15px 25px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.linkCard:hover {
  background: rgba(255, 255, 255, 0.08);
  transform: translateX(10px);
  border-color: #e057ce;
}

.linkCard img {
  width: 35px;
}

.linkText span {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #eeeff5;
  text-transform: uppercase;
}

.linkText p {
  font-size: 18px;
  margin: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
}